---
---

<div class="container">
  <div class="pub-img">
    <img src="{{ '/assets/img/' | relative_url }}{{ entry.key }}.png" alt="">
  </div>
  <div class="publication-details">

    <!-- Bib item -->
    {{ reference }}

    <!-- Links Section (Buttons) -->
    <div class="links" style="margin-top: 10px;">
      <!-- Abstract Button (only show if there is an abstract) -->
      {% if entry.abstract %}
        <a class="abstract button tiny radius" role="button" onclick="toggleExclusive('{{ entry.key }}_abstract', '{{ entry.key }}')">Abstract</a>
      {% endif %}

      <!-- Link Button (only show if the link exists) -->
      {% if entry.doi %}
        <a href="https://doi.org/{{ entry.doi }}" class="button tiny radius" role="button" target="_blank">🔗</a>
      {% endif %}

      <!-- BibTeX Button -->
      <a class="bibtex button tiny radius" role="button" onclick="toggleExclusive('{{ entry.key }}_bibtex', '{{ entry.key }}')">Bib</a>

      <!-- Download Button (only show if the file exists) -->
      {% if entry.file %}
      <a href="{{ '/assets/papers/' | relative_url }}{{ entry.file }}"
         class="button tiny radius"
         role="button"
         target="_blank"
         download
         aria-label="Download paper">
        <svg xmlns="http://www.w3.org/2000/svg"
           width="24" height="24"
           viewBox="0 0 24 24"
           fill="currentColor"
           stroke="currentColor"
           stroke-width="2"
           aria-hidden="true">
          <path d="M12 16l4-4h-3V4h-2v8H8l4 4zm-7 2v2h14v-2H5z"/>
        </svg>
      </a>
    {% endif %}
    </div>

    <!-- Collapsible Content Section (Below Buttons) -->
    <div class="collapse-container">
      <!-- Collapsible Abstract Section -->
      {% if entry.abstract %}
      <div id="{{ entry.key }}_abstract" class="collapsible-content">
        <p style="margin: 5px">{{ entry.abstract }}</p>
      </div>
      {% endif %}

      <!-- Collapsible BibTeX Section -->
      <div id="{{ entry.key }}_bibtex" class="collapsible-content">
        <pre>{{ entry.bibtex }}</pre>
      </div>
    </div>

  </div>
</div>
